<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Updating...</title>
    <link rel="stylesheet" href="{{url_for('static',filename='novalid.css')}}">
</head>
<body>
    <div class="bo">
        <img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1199704/LINEStorePC/main.png?__=20161019" alt="">
    </div>
    <div class="bo"><h3>Hiện chưa có dữ liệu ở địa điểm bạn chọn ...</h3></div>
    <div class="bo"><a href="/food-expect"><button>Back</button></a></div>    
</body>
</html>